<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<%- include('components/header') %>
		<section>
			<figure>
				<div class="fakeava"></div>
				<figcaption>
					<h3>Pingfest 2020</h3>
					<div>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis neque a consectetur totam ullam officia accusamus officiis nam voluptatum ipsum delectus, error tempore, minus quas ducimus. Ipsam, pariatur laboriosam?
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis neque a consectetur totam ullam officia accusamus officiis nam voluptatum ipsum delectus, error tempore, minus quas ducimus. Ipsam, pariatur laboriosam?
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus sunt ipsa deserunt quidem temporibus quia quam tempore laboriosam! Dicta aliquid ab aut quae enim iure perferendis repellat quisquam cum quasi!
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt omnis neque a consectetur totam ullam officia accusamus officiis nam voluptatum ipsum delectus, error tempore, minus quas ducimus. Ipsam, pariatur laboriosam?
						</p>
					</div>
				</figcaption>
			</figure>
		</section>
	</main>
</body>

</html>