<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<%- include('components/header') %>
		<section>
			<figure>
				<div class="fakeava"></div>
				<figcaption>
					<h3>Pingfest 2020</h3>
					<div>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. 
						</p>
						<p class="control">
							<a href="/event/pingfest-2020">readmore..</a>
						</p>
					</div>
				</figcaption>
			</figure>
		</section>
		<section>
			<figure>
				<div class="fakeava"></div>
				<figcaption>
					<h3>Pingfest 2020</h3>
					<div>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. 
						</p>
						<p class="control">
							<a href="/event/pingfest-2020">readmore..</a>
						</p>
					</div>
				</figcaption>
			</figure>
		</section>
	</main>
</body>

</html>