<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<header>
			<h1>Judul Page</h1>
		</header>
		<nav>
			<a href="/">home</a>
			<a href="/login">login</a>
			<a href="/register">register</a>
		</nav>
		<section>
			<figure>
				<figcaption>
					<h3>dimasriat</h3>
					<div>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. 
						</p>
						<p class="control">
							<a href="/">home</a>
							<a href="/login">login</a>
							<a href="/register">register</a>
						</p>
					</div>
				</figcaption>
				<div class="fakeava"></div>
			</figure>
		</section>
		<section>
			<figure>
				<div class="fakeimg"></div>
				<figcaption>
					<b>dimasriat</b>
					<div>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. Inventore porro voluptate est
							repellat consequatur beatae a laudantium illum
							incidunt, molestiae minus odit quas nulla. Alias
							voluptatum at non tenetur nisi? Lorem ipsum,
							dolor sit amet consectetur adipisicing elit.
							Inventore porro voluptate est repellat
							consequatur beatae a laudantium illum incidunt,
							molestiae minus odit quas nulla. Alias
							voluptatum at non tenetur nisi?
						</p>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. Inventore porro voluptate est
							repellat consequatur beatae a laudantium illum
							incidunt, molestiae minus odit quas nulla. Alias
							voluptatum at non tenetur nisi? Lorem ipsum,
							dolor sit amet consectetur adipisicing elit.
							Inventore porro voluptate est repellat
							consequatur beatae a laudantium illum incidunt,
							molestiae minus odit quas nulla. Alias
							voluptatum at non tenetur nisi?
						</p>
					</div>
				</figcaption>
			</figure>
			<p class="control">
				<a href="/">home</a>
				<a href="/login">login</a>
				<a href="/register">register</a>
			</p>
		</section>
		<article>
			<h2>Article Card</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Inventore porro voluptate est repellat consequatur beatae a
				laudantium illum incidunt, molestiae minus odit quas nulla.
				Alias voluptatum at non tenetur nisi?
			</p>
			<p class="control">
				<a href="/">home</a>
				<a href="/login">login</a>
				<a href="/register">register</a>
			</p>
		</article>
		<section>
			<h2>Form Card</h2>
			<form>
				<p><label>Form 1</label> <input type="text" /></p>
				<p><label>Form 2</label><textarea></textarea></p>
				<p><label>Form 3</label> <input type="text" /></p>
				<p><label>Form 4</label> <input type="file" /></p>
				<p><input type="text" placeholder="form 5" /></p>
				<p><input type="submit" /></p>
			</form>
		</section>
	</main>
</body>

</html>