<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<header>
			<h1>Register Page</h1>
		</header>
		<nav>
			<a href="/">home</a>
			<a href="/login">login</a>
			<a href="/register">register</a>
		</nav>
		<section>
			<h2>Register</h2>
			<form method="POST" action="/register">
				<p><label>username</label> <input type="text" name="username"/></p>
				<p><label>email</label> <input type="email" name="email" /></p>
				<p><label>password</label> <input type="password" name="password"/></p>
				<p><label>password confirmation</label> <input type="password" name="password2"/></p>
				<p><label>avatar</label> <input type="file" /></p>
				<p><input type="submit" value="register"/></p>
			</form>
		</section>
	</main>
</body>

</html>