<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/assets/css/style.css" />
	</head>

	<body>
		<div class="wrapper">
			<%- include('components/header', {title: 'Register'}); %>
			<%-	include('components/nav-user'); %>
			<section>
				<form action="/user/register" method="POST">
					<p>
						<input
							type="text"
							name="username"
							placeholder="username"
						/>
					</p>
					<p>
						<input
							type="email"
							name="email"
							placeholder="email"
						/>
					</p>
					<p>
						<input
							type="password"
							name="password"
							placeholder="password"
						/>
					</p>
					<p>
						<input
							type="password"
							name="password2"
							placeholder="re enter the password"
						/>
					</p>
					<input type="submit" value="register" />
				</form>
			</section>
			<% if (error) { %> <% for (err of error) { %>
			<div class="err">
				<%= err.msg %>
			</div>
			<% }; %> <% }; %>
		</div>
	</body>
</html>
