<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/assets/css/init.css" />
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>

	<body>
		<main>
			<header>
				<h1>DASHBOARD</h1>
			</header>
			<nav>
				<a href="/">home</a>
				<a href="/user">dashboard</a>
				<a href="/user/new-post">new post</a>
				<a href="/user/logout">logout</a>
			</nav>
			<section>
				<figure>
					<figcaption>
						<h3><%= data.username %></h3>
						<div>
							<p>
								<%= data.email %>
							</p>
							<p class="control">
								<a href="/">home</a>
								<a href="/login">login</a>
								<a href="/register">register</a>
							</p>
						</div>
					</figcaption>
					<div class="fakeava"></div>
				</figure>
			</section>
			<% for (post of posts) { %>
			<section>
				<figure>
					<div class="fakeimg"></div>
					<figcaption>
						<b><%= post.user.username %></b>
						<div>
							<p>
								<%= post.postbody %>
							</p>
						</div>
					</figcaption>
				</figure>
				<p class="control">
					<a href="/">like</a>
					<a href="/login">comment</a>
					<a href="/register">share</a>
				</p>
			</section>
			<% } %>
		</main>
	</body>
</html>
