<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<header>
			<h1>Judul Page</h1>
		</header>
		<%- include('components/admin-navbar') %>
		<section>
			<h2>Add Person</h2>
			<form action="/admin/team/add-team" method="POST">
				<p>
					<label>Full Name</label>
					<input type="text" name="name" />
				</p>
				<p>
					<label>Jabatan</label>
					<select name="position">
						<option value="kabid">Kepala Bidang</option>
						<option value="wakabid">Wakil Kepala Bidang</option>
						<option value="staff">Staff</option>
					</select>
				</p>
				<p><input type="submit" value="Add" /></p>
			</form>
		</section>
		<article>
			<h2><%= team.name %></h2>
			<% for (person of people) { %>
			<figure>
				<div class="fakeimg"></div>
				<figcaption>
					<b><%= person.name %></b>
					<div>
						<p>
							<%= person.position %>
						</p>
					</div>
				</figcaption>
			</figure>
			<% } %>
		</article>
	</main>
</body>

</html>