<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<header>
			<h1>Judul Page</h1>
		</header>
		<%- include('components/navbar') %>
		<section>
			<figure>
				<div class="fakeava"></div>
				<figcaption>
					<h2>Event 1</h2>
					<div>
						<p>
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam necessitatibus odio nulla accusantium dicta harum maxime consequuntur culpa natus impedit ut modi voluptas repellat incidunt nam molestias, voluptate similique quam.
						</p>
					</div>
				</figcaption>
			</figure>
		</section>
		<section>
			<figure>
				<div class="fakeava"></div>
				<figcaption>
					<h2>Event 1</h2>
					<div>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. 
						</p>
					</div>
				</figcaption>
			</figure>
		</section>
	</main>
</body>

</html>