<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<header>
			<h1>Judul Page</h1>
		</header>
		<%- include('components/navbar') %>
		<article>
			<h2>Networking</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, maiores cum distinctio adipisci dolorum, amet animi voluptates enim quia quisquam at incidunt voluptate est rerum, pariatur quaerat. Neque, at earum!
			</p>
			<p><div class="photo-container">
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
			</div></p>
		</article>
		<article>
			<h2>Pingfest</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, maiores cum distinctio adipisci dolorum, amet animi voluptates enim quia quisquam at incidunt voluptate est rerum, pariatur quaerat. Neque, at earum!
			</p>
			<p><div class="photo-container">
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
				<div class="fakeava"></div>
			</div></p>
		</article>
	</main>
</body>

</html>