<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<header>
			<h1>Judul Page</h1>
		</header>
		<%- include('components/navbar') %>
		<article>
			<h2>Team</h2>
			<p>
				<a href="#">Team</a>
			</p>
			<p>
				<a href="#">Team</a>
			</p>
			<p>
				<a href="#">Team</a>
			</p>
		</article>
		<article>
			<h2>Pengembangan Teknologi</h2>
			<figure>
				<div class="fakeimg"></div>
				<figcaption>
					<b>dimasriat</b>
					<div>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. Inventore porro voluptate est
							repellat consequatur beatae a laudantium illum
							incidunt, molestiae minus odit quas nulla.
						</p>
					</div>
				</figcaption>
			</figure>
			<figure>
				<div class="fakeimg"></div>
				<figcaption>
					<b>dimasriat</b>
					<div>
						<p>
							Lorem ipsum, dolor sit amet consectetur
							adipisicing elit. Inventore porro voluptate
						</p>
					</div>
				</figcaption>
			</figure>
		</article>
	</main>
</body>

</html>